# Configurações do Telegram
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_BOT_TOKEN=
TELEGRAM_OWNER_ID=
TELEGRAM_LOCAL=1

# Configurações do Radarr
RADARR_URL=http://localhost:7878
RADARR_API_KEY=

# Configurações do Sonarr
SONARR_URL=http://localhost:8989
SONARR_API_KEY=

# Configurações do Jellyfin
JELLYFIN_URL=http://localhost:8096
JELLYFIN_API_KEY=
